.reviewItemWrapper {
  display: flex;
  border: 1px solid gray;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  max-width: 600px;
}
.reviewItemWrapper img {
  width: 96px;
  margin-right: 10px;
}
.reviewBoxWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewItemWrapper h1 {
  font-size: 20px;
  font-weight: 400;
}
