.single-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.layout-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.calculate-section {
  background-color: #ffe0b3;
  height: 1000px;
  position: sticky;
  top: 0;
}
